*{
    box-sizing: border-box;
}
#container{
    height: 640px;
    width: 50%;
    /* border: 1px solid red; */
    margin: auto;
}
#container>a>i{
   color: #5a5c66;
   padding-left: 55px;
   padding-top: 5px;
}
#container>.box{
    height: 50px;
    width: 270px;
    /* border: 1px solid red; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding-left: 54px;
    color:#000000;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
}
#container>.box2{
    height: 60px;
    width: 120px;
    font-size: 14px;
    font-family: "IBM Plex Sans";
    font-weight: 40px;
    color: #35495e;
    line-height: 20px;
    border: none;
    outline: none;
    border: 2px solid #10a310;
    border-radius: 5px;
    margin-left: 54px;
    margin-top: 20px;
}
#container>#box3{
    height: 60px;
    width: 450px;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    outline: none;
    border: 2px solid  #10a310;
}
#container>#box4{
    height: 60px;
    width: 450px;
    border: 1px solid  #10a310;
    margin-left: 120px;
    margin-top: 410px;
    border-radius: 5px;
    padding-left: 180px;
    font-family:"IBM Plex Sans";
    color: rgba(0, 0, 0, 0.979);
    font-size: 14px;
    font-weight: 400;
    background-color:  #10a310;
}